@model IEnumerable<ResortWeb.Models.typeViewModel>

@{
    ViewData["Title"] = "ListReserve";
}

<h2>ListReserve</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceXDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceXDay)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container centerX">
    <div id="contenedorLista" class="row centerX">
        <div class="col-xs-3">
            <img src="~/images/cabaña.jpg" alt="Alternate Text" />
        </div>
        <div class="col-xs-9 centerX">
            <h3>135.000 al dia</h3>
            <h4 style="margin-left:50px;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>4</h4> 
        </div>

    </div>
</div>
